<div class="row">
  <h1><%= @title %></h1>
  
  <div class="col-md-3">
    <div class="spot-new">
      <p>
        Have you done the posting?<br>
        <%= link_to 'new spot...', new_spot_path %>
      </p>
    </div>
  </div>
  <div class="col-md-9">
  <%= page_entries_info @spots %>
   <ul class="spot-guide">
     <%= render @spots %>
     
   </ul>
   <%= paginate @spots %>
  </div>
</div>
