<div class="row">
  <h1 class="spot-show-title"><%= @spot.name %></h1>
    <div class="content">
      <div class="col-md-5">
        <div class="spot-info">
          <h4 class="label-info">Spot info</h4>
            
            <p>
              <strong>場所</strong> : <%= @spot.name %>
            </p>
            
            <p>
              <strong>日付</strong> : <%= @spot.date%>
            </p>
            
            <p>
              <strong>詳細</strong> : <%= @spot.description %>
            </p>
            
            <p class="spot-user">
              投稿者 : <%= link_to user_path(@user) do %>
                <span class="spot-user-gravatar"><%= gravatar_for @user %></span>
                <%= @user.name %>
              <% end %>
            </p>
            
            <p>
              <% if current_user == @spot.user %>
                <%= link_to "編集", edit_spot_path(@spot.id) %>
                <%= link_to "削除", spot_path(@spot.id), method: :delete, data: {confirm: "You Sure?"} %>
              <% end %>
            </p>
            <p>
              <% if current_user != @spot.user %>
                <%= render 'like_form', spot: @spot %>
              <% end %>
            </p>
        </div>
      </div>
    
    <div class="col-md-7">
      <div class="image">
        <% if @spot.image? %>
          <%= image_tag @spot.image.url, id: "img", alt: @spot.name, style: "margin-top: 30px;" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="map">
        <div>
          <div id="map" style="width:600px; height: 400px;">
            <script type="text/javascript">
              handler = Gmaps.build('Google');
              handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                markers = handler.addMarkers(<%=raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setCenter(latlng);
                handler.getMap().setZoom(5);
              });
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>