<h1><%= @title %></h1>

<%= form_for @profile do |f| %>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  
  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_select(
          :birthday,
          start_year: 1930,
          end_year: (Time.now.year - 18),
          default: Date.new(1989,1,1)) %>
  </div>
  
  <div class="field">
    <%= f.label :birthplace %>
    <%= f.text_field :birthplace %>
  </div>
  
  <div class="field">
    <%= f.label :self_introducation %>
    <%= f.text_area :self_introducation %>
  </div>
    
  <%= f.submit %>
<% end %>
 