<div class="row">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
  <p><%= render 'follow_form' if user_signed_in? %></p>
  
  <div class="user-info col-md-4">
    <%= render 'user_info' %>
  </div>
  <div class="user-spots col-md-8">
    <div class="panel panel-success">
      <h3 class="panel-heading">user spots</h3>
      <div>
        <p><%= link_to "New Spot", new_spot_path %></p>
        <% if @spots.present? %>
          <% @spots.each do |spot| %>
            <ul>
              <li class="user-spot">
                <%= link_to spot_path(spot) do %>
                  <%= image_tag spot.image.url, id: "spot-img", style: "max-width: 100px; max-heiht: 100px" %>
                  <%= spot.name %>
                <% end %>
                <%= spot.date %>
              </li>
            </ul>
          <% end %>
          <%= paginate @spots %>
        <% else %>
          <p>まだ投稿がありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
    

