<div id="ranking">
  <div class="page-title">
    <h1><%= @title %></h1>
  </div>
  
  <div class="container-inner inner-default clearfix">
    <% @follower.each.with_index(1) do |fuser, i| %>
      <div class="rank">
        <div class="number">
          <strong><%= "#{i}ä½" %></strong>
        </div>

        <ul class="users">
          <li>
            <%= link_to user_path(fuser.id) do %>
              <%= gravatar_for fuser %>
              <%= fuser.name %>
              <% end %>
          </li>
        </ul>
      </div>
    <% end %>
      
  </div>
</div>